body{
    font-family: 'Montserrat', sans-serif;
    
}

#head{
    background-color: #014b7c;
    text-align: center;
    color: white;
    width: 100%;
    display:table;
    table-layout:fixed;
}

#title{
    font-size: 30px;
}

.top-img{
    /* padding: 20px;
    width: 20px;
    height: auto; */
    padding-top: 10px;
    margin: 20px;
    width: 20px;
    height: auto;
}

#arrow{
    /* display: inline-block; */
    width: 10px;
    height: auto;
    margin-left: 10px;
}

.icon {
background-image: url('../images/bitcoin.png');
background-position: left center;
background-repeat: no-repeat;

padding: 40px; 
padding-right: 0px; 
font-size: 17px;
}

#cont{
    margin: 10px;
}

#price{
    text-align: center;
    color: white;
    padding-top: 5px;
    border-radius: 5px;
    margin: 10px;
    height: 35px;
    background-color: #F36C58;
}

#date{
    color: grey;
}

#sent{
    font-weight: 500;
    color: #F36C58;
}

#rec{
    font-weight: 500;
    color: #0BBABD;                 /* Change dis */
}

#price-rec{
    text-align: center;
    color: white;
    padding-top: 5px;
    border-radius: 5px;
    margin: 10px;
    height: 35px;
    background-color: #0BBABD;      /* Change dis */
}

#bot{
    padding-left: 15px;
    position: fixed;
    height: 58px;
    bottom: 0;
    width: 100%;
    background-color: white;
}

#row{
    width:100%;
    position: absolute;
    bottom:0;
}

#exampleModalbody{
    margin: 5px;
    padding-left: 18px;
}

input { 
    border: 1px solid #27A1D6;
}